<?xml version="1.0" standalone='no'?><!--*-nxml-*-->
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
  <name replace-wildcards="yes">%h Docker</name>
  <service>
    <type>_docker._tcp</type>
    <port>2375</port>
  </service>
</service-group>
